@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<!--Jack Carpenter-->
<!--Section 001-->
<!--This is my first ASP.NET Website. This is my Index.cshtml page-->
<html>
<head>
    <meta charset="utf-8" />
    <title>Become an FC24 Champion</title>
    <link href="css/site.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            text-align: center;
        }

        p {
            font-weight: bold;
            font-size: larger;
            margin: 0 auto;
            max-width: 80%; /* Adjusts the max width of paragraphs for better readability */
        }

        img {
            display: block;
            margin: 20px auto; /* Adds margin to the top and bottom of the image */
        }

        footer {
            margin-top: 20px; /* Adds spacing above the footer */
        }
    </style>
</head>
<body>
    <p>As a long-time enthusiast, I've spent countless hours mastering the intricacies of FC24. From perfecting unit strategies to analyzing maps for the best tactical advantages, my dedication to FC24 has not only been about winning but also about connecting with a community of like-minded individuals who share a passion for the game.</p>
    <img src="~/img/suiiiiiii.jpg" height="400" width="400" />
    <p>Through this site, I aim to share my love and knowledge of FC24, offering tips, strategies, and insights that will help you become the champion you were meant to be. Let's embark on this journey together and conquer the world of FC24.</p>
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 FC24 Champion Guide. Created by Jack Carpenter. All rights reserved.</p>
    </footer>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


