<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/screen_shot_2024_02_07_at_5_29_35_pm_1fq_icon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Become an FC24 Champion</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .centered-content {
            text-align: center;
        }
        .bold-large-text {
            font-weight: bold;
            font-size: larger;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FC24 Champion Guide</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Package_Calculations">Package Calculations</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container centered-content">
        <h1>I'm Literally Better Than You At FIFA...Learn Why</h1>
        <h2>Welcome to the Ultimate FC24 Championship Guide...You Won't BELIEVE How Good I Am</h2>
        <p class="bold-large-text">FC24 isn't just a game; it's a battleground where only the best emerge victorious. It combines strategy, skill, and a touch of luck, offering an exhilarating experience that keeps you on the edge of your seat. Whether you're plotting your next move or outsmarting your opponents, FC24 provides a deep, rewarding experience unmatched in the gaming world.</p>
        <img src="~/img/image1.jpg" height="400" width="400" />
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
